server:
  port: 8888
spring:
  application:
    name: config
  profiles:
    active: dev
  cloud:
    config:
      server:
        git:
          uri:  #配置git仓库地址
          searchPaths: #配置仓库路径
          username:  #访问git仓库的用户名
          password:  #访问git仓库的用户密码
      label: master #配置仓库的分支
eureka:
  instance:
    hostname: ${spring.cloud.client.ipAddress} #默认是通过ip:application_name:端口呈现的，所以添加以下两个配置 Ip:port
    instanceId: ${spring.cloud.client.ipAddress}:${server.port}
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/