eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 8080
spring:
  application:
    name: gateway
zuul:
  routes:
    api:
      # 指定基础地址，其中api可以是任何字符
      path: /api/**
      # 转发到的服务ID也就是指定服务的application.name 上述实例的含义表示只要包含/api/的地址，都自动转发到eurekaclient服务去
      serviceId: eurekaclient